*,* active {
    padding: 0;
    margin: 0;
    border: 0;
}

main{
    background-color: khaki;
}

a{
    text-align: center;
    color: rgb(184, 209, 231);
}

h1,h2,h3{
    text-align: center;
    color: black;
    background-color: khaki;
}
a:active{
    color: rgb(230, 205, 105);
}
a:hover{
    color: ghostwhite;
}

a:visited{
    color:black;
}

nav{
    display:inline-block;
    list-style-type: none;
    text-align: center;
    background-color: lightblue;
    float: left;
}

section {
    color: beige;
	padding: 15px;
	margin: 10px;
	border: solid 7px rgb(223, 192, 114);
}

p{
    text-align: center;
    color: black;
}

footer{
    display:inline-block;
    list-style-type: none;
    text-align: center;
    background-color: lightblue;
    float: left;
}