*,* active {
    padding: 0;
    margin: 0;
    border: 0;
}

main{
    
}

a{
    text-align: center;
    color: aliceblue;
}

h1,h2,h3{
    text-align: center;
    color: black;
    background-color: khaki;
}
a:active{
    color: cornsilk;
}
a:hover{
    color: ghostwhite;
}

a:visited{
    color:black;
}

nav{
    display:inline-block;
    list-style-type: none;
    text-align: center;
    background-color: lightblue;
}

section {
	padding: 15px;
	margin: 10px;
	border: solid 7px rgb(223, 192, 114);
}

p{
    text-align: center;
    color: black;
}