*,* active {
    padding: 0;
    margin: 0;
    border: 0;
}

main{
    background-color: khaki;
}

a{
    text-align: center;
    color: rgb(164, 164, 164);
}

li a {
    list-style-type: none;
    display: inline-block;
}

h1,h2,h3{
    text-align: center;
    color: black;
    background-color: khaki;
}
li a:active{
    color: rgb(230, 205, 105);
}
li a:hover{
    color: ghostwhite;
}

li a:visited{
    color:black;
}

nav{
    list-style-type: none;
    text-align: center;
}

nav ul{
    display: inline-block;
    font-size: 2em;
    margin: 0 25px;
    text-align: center;
}

footer ul{
    display: inline;
    font-size: 2em;
    margin: 0 25px;
    text-align: center;
}



section {
    color: beige;
	padding: 15px;
	margin: 10px;
	border: solid 7px rgb(223, 192, 114);
    width: 80%;
	display: inline-block;
}

p{
    text-align: center;
    color: black;
    font-size: 1.25em;
}

footer{
    list-style-type: none;
    text-align: center;
    display: inline-block;
}