*,* active {
    padding: 0;
    margin: 0;
    border: 0;
}

main{
    background-color:yellow;
}

a{
    text-align: center;
}

h1,h2,h3{
    text-align: center;
    color:rgb(49, 49, 49);
}


li a:active{
    color:pink;
}
li a:hover{
    color:yellow;
}

li a:visited{
    color:white;
}

nav ul{
    display:inline-block;
    list-style-type: none;
    background-color:black;
    text-align: center;
}

footer ul{
    display: inline-block;
    list-style-type: none;
    background-color: black;
    text-align: center;
}

nav li{
	display: inline-block;
	font-size: 2em;
    text-align: center;
}

footer li{
	display: inline-block;
	font-size: 2em;
    text-align: center;
}

p{
    color: black;
    font-size: 1.5em;
}

section {
	background-color: #FF206E;
	padding: 15px;
	margin: 10px;
	border: solid 7px gold;
    width: 50%;
}

img{
    width: 30%;
    float:right;
    height: 30%;
}